@page
@model lab1_hello_razor_scott5kj.Pages.AboutModel
@{
    ViewData["Title"] = "About";
}

<h2>About</h2>
<p><strong>Name:</strong> Kaleb Scott</p>
<p><strong>Section:</strong> 0001</p>
<p><strong>Meeting Availability:</strong> Monday & Wednesday: Any time outside of 1:50pm - 3:05pm
                                          Tuesday & Thursday: 12:45pm - 5:00pm
                                          Friday: Any time outside of 12:00 - 3:00pm</p>
<p><strong>Skills:</strong> Data Analysis, Coding, Project Management </p>
<p><strong>My Workstyle:</strong> For group projects, I like working to everyone's strengths. To enhance clarity, I like to get roles established as a group, then prioritize time management and communication from there. </p>
<p><strong>CIS 484 Takeaway:</strong> I would like to gain exposure to application development and strengthen my coding skills. </p>
<p><strong>Fun Fact About Me:</strong> I am a semi-professional cornhole player. </p>

