@page
@model lab1_hello_razor_scott5kj.Pages.Contact_InformationModel
@{
    ViewData["Title"] = "Contact Information";
}

<div class="text-center">
    <h1 class="display-4">Harrisonburg Consulting</h1>
    <p>
        <a asp-page="/About">About</a>
    </p>

    <p><strong>Phone Number:</strong> (123) 456-7890 </p>
    <p><strong>Email Address:</strong> Kaleb@HarrisonburgConsulting.com </p>
    <p><strong>Address:</strong> 123 Main Street, Harrisonburg, VA 22801 </p>

    <p>
        <button type="button" class="btn btn-primary">
            Book A Reservation
        </button>
    </p>
</div>

